.container {
  background-color: var(--col-bgray);
  width: 100vw;
  height: 100vh;
}

.halfImg {
  height: 100vh;
  width: 72vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: scaleX(-1);
}

.halfCov {
  height: 100vh;
  width: 73vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;

}

.halfDark {
  height: 100vh;
  width: calc(calc(73vh) - min(30vw, 73vh));
  background-color: var(--col-bgray);
}

.halfGrad {
  height: 100vh;
  width: calc(min(40vw, 73vw) + 1px);
  background: linear-gradient(270deg, #121414 5%, rgba(18, 20, 20, 0.99) 20%, rgba(18, 20, 20, 0.8) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: -1px;
}

.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: flex-start;
  flex-direction: column;
  background: none;
}

.mainCol {
  width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  height: calc(100vh - 320px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  column-gap: 30px;
  overflow-y: auto;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mainCol p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  width: 450px;
  margin-top: 5px;
}

.rightImg {
  border: 3px solid var(--col-bgray);
  background-color: var(--col-bgray);
  border-radius: 5px;
}

.mainQuote {
  margin-top: 35px;
}

.footer {
  position: fixed;
  width: 900px;
  left: 50vw;
  bottom: 0;
  transform: translateX(-50%);
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.footer a {
  width: 30px;
  height: 30px;
  display: block;
  color: white;
}

.footer a img {
  max-width: 100%;
  max-height: 100%;
}