.container {
    background-color: var(--col-bgray);
    padding: 25px;
    border-radius: 15px;
}

.imgBox {
    height: 176px;
    width: 176px;
    display: block;
    border: 3px solid white;
    margin: 0;
    margin-top: 1px;
    margin-left: 3px;
    float: left;
    position: relative;
}

.blocker {
    position: absolute;
    width: 60px;
    height: 120px;
    background-color: var(--col-bgray);
    z-index: 0;
}

.centerImg {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 85px;
    top: 85px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.top {
    left: -4px;
    top: -4px;
}

.bot {
    right: -4px;
    bottom: -4px;
}

.descBox {
    width: 70%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}

.descBox h1 {
    margin: 0;
    font-size: 38px;
}

.descBox h2 {
    color: #606060;
    margin-bottom: 10px;
    font-size: 20px;
}

.msg {
    font-size: 16px;
}